process.container = 'zatzmanm/scomatic:latest'

manifest {
    name            = 'scomatic'
    homePage        = 'https://github.com/mjz1/SComatic/tree/main'
    description     = 'Nextflow pipeline for running SComatic'
    defaultBranch   = 'main'
    mainScript      = 'main.nf'
    version         = '1.0.0'
}

report {
    enabled = false
}

timeline {
    enabled = false
}

trace {
    enabled = false
}

dag {
    enabled = false
    file = 'pipeline_dag.html'
    overwrite = true
}

process {
    cache = 'lenient'
}


profiles {

    test {
        params {
            scomatic = "/scomatic"
            outdir = "results"
            ref = "$projectDir/example_data/chr10.fa.bgz"
            bam = "$projectDir/example_data/Example.scrnaseq.bam"
            bai = "$projectDir/example_data/Example.scrnaseq.bam.bai"
            meta =  "$projectDir/example_data/Example.cell_barcode_annotations.tsv"
            sample_id = "Example"
        }
    }

    test_csv {
        params {
            outdir = "results_csv"
            ref = "$projectDir/example_data/chr10.fa.bgz"
            csv = "$projectDir/example_data/test.csv"
        }
    }

    standard {
        docker {
            enabled = true
        }
    }

    juno {
        module = 'singularity/3.7.1'

        singularity {
            enabled = true
            autoMounts = true
        }

        executor {
            name = 'lsf'
            perJobMemLimit=false
            perTaskReserve=true
        }

        process {
            memory = '16 GB'
            time = '24h'
            scratch = true

            withLabel: 'multicore' {
                cpus = 8
                memory = '32 GB'
            }
        }
    }
}
